<%= form_for(@prompt) do |f| %>
  <% if @prompt.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@prompt.errors.count, "error") %> prohibited this prompt from being saved:</h2>

      <ul>
      <% @prompt.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :Phrase %><br />
    <%= f.text_field :phrase %>
  </div>
  <div class="field">
    <%= f.label :Business %>
    <%= f.check_box :business %>
  </div>
  <div class="field">
    <%= f.label :Personal %>
    <%= f.check_box :personal %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
