<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @sponsor.image, {width: 50} %>
</p>

<p>
  <b>Name:</b>
  <%= @sponsor.name %>
</p>

<p>
  <b>URL:</b>
  <%= @sponsor.url %>
</p>


<%= link_to 'Edit', edit_sponsor_path(@sponsor) %> |
<%= link_to 'Back', sponsors_path %>
